header{
    background-color: #5BC0DE;
   
}

nav{
    height: 70px;
    
}



nav li{
    display: inline;
    margin: 15px;
          
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    margin-left: 200px;
    top: 20px;

}

nav a:hover{
    color: #F89406
}